.git
.gitignore
.next
.e2e
node_modules
**/node_modules
.claude
*.pdf
playwright-report
test-results
uploads
*.log
.env
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
